.darkBG {
	background: #999;
}

.darkerBG {
	background: #666;
}

.BGdarkest {
	background: #222;
}

body{
	background:#999;
	font-family: arial;
}

body.main{
	background: white;
	font-family: arial;
}

.wrapper{
	text-align: center;
	padding-top: 10px;
}

h1 {
	color: #555;
}

h4 {
	background: #555;
	color: rgb(245, 245, 245);
	text-align: center;
	padding: 5px 5px 5px 5px;
	
}

a {
	color: white;
}
li {
	color: #333;
}

p {
	background: #666;
	color: white;
	padding: 12px;
	text-align: center;
}

.darker {
	background: #333;
	border-radius: 5px;/*make rounded corners*/
	padding: 10px 10px 10px 10px;
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;

	/*text-align center;*/
}

.nav-link{
	color: black;
}

h2.titlestart {
	/*border: 1px solid red;*/
	padding: 30px 0px 20px 0px;
}
h2 {text-align: center;}

.indexButton {
	color: #111;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
  }

  .centersmall {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
  }

  p.UCUdark {
	border-radius: 5px;
  }

.pb-3 {
	
}
.row{
	padding: 20px 20px 20px 20px;
}
.row:after{

	clear:both;
}

.col {
	background: #333;
	border-radius: 5px;/*make rounded corners*/
	/*padding: 10px 5px;*/
	padding: 10px 5px;
	color: white;
	float: left;
	margin: 0.5%;
	text-align: center;
	width: 30%;/*each of the columns take up 33%
	(so in total take up whole width)
	can use % for width, margin etc. if it goes over 100%
	it will just keep wrapping around
	USE PERCENTAGE CHANGES if you want it to look nice
	on all devices and all sized browsers*/
}

ul {
	background: rgba(255, 255, 255, 0.3);
  }

/*
use this if i wanted to do an id
*/
#smaller-image{
	width: 90%;
	height: auto;
}


img.rounded-corners {
	border-radius: 30px;
  }

  .socialLinks a {
    font-size: 35px;
    margin: 0 10px 0 0;
    color: #000000;
    text-decoration: none;
}

.Contactcontainer{
	padding-top: 80px;
	text-align: center;
	padding-bottom: 10px;
	
}

h1.darkercolor{
	color: black;
}

.contactandsocials{
	background-color: black;
	margin-top: 5px;
	display: flex;
	vertical-align: middle;
}

.center-vertically {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
  }

div.form-group{
	text-align: left;
}